{% extends 'courseinfo/base.html' %}

{% block title %}
    Delete Course
{% endblock %}

{% block content %}
    <form
        action="{{ course.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            course {{ course }}?
        </p>
        <button type="submit">Delete Course</button>
    </br>
        <a href="{{ course.get_absolute_url }}">Cancel</a>
    </form>
{% endblock %}
