{% extends 'courseinfo/base.html' %}

{% block title %}
    Delete Instructor
{% endblock %}

{% block content %}
    <form
        action="{{ instructor.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            instructor {{ instructor }}?
        </p>
        <button type="submit">Delete Instructor</button>
    </br>
        <a href="{{ instructor.get_absolute_url }}">Cancel</a>
    </form>
{% endblock %}
