{% extends 'courseinfo/base.html' %}

{% block title %}
    Delete Section
{% endblock %}

{% block content %}
    <form
        action="{{ section.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            section {{ section }}?
        </p>
        <button type="submit">Delete Section</button>
    </br>
        <a href="{{ section.get_absolute_url }}">Cancel</a>
    </form>
{% endblock %}
