{% extends 'courseinfo/base.html' %}

{% block title %}
    Delete Semester
{% endblock %}

{% block content %}
    <form
        action="{{ semester.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            semester {{ semester }}?
        </p>
        <button type="submit">Delete Semester</button>
    </br>
        <a href="{{ semester.get_absolute_url }}">Cancel</a>
    </form>
{% endblock %}
